.chronicles {
    display: flex;
    flex-direction: column;
}

.chronicle {
    background-color: black;
    border: 2px solid purple;
    padding: 0.7rem;
    color:darkcyan;
    font-family: 'Architects Daughter',cursive;
    color:#50C878;
    font-size: 18px;
}

.form-group, .form-control {
    background-color: lawngreen;
    border: 2px solid purple;
    padding: 0.7rem;
    margin: 0.5rem 0;
    color: black;
    font-family: "Patua One", serif;
    font-size: 14px;
    line-height: 1.5;
}

.chronicle_moon {
    padding: 10px;
    color: springgreen;
    text-align: center;
}

.btn-btn-deleteChronicle {
    align-items: center;
    background-color: darkcyan;
    background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow:rgba(255, 255, 255, 0.2)(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
    color:khaki;
    cursor: pointer;
    display: flex;
    font-family: 'Architects Daughter',cursive;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 10px;
    margin: 0;
    padding: 15px 110px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    justify-content: center;
  }
  
  .btn-btn-deleteChronicle {
    background-image: linear-gradient(gold, #3C565B 50%);
  }
  
  @media (min-width: 768px) {
    .btn-btn-deleteChronicle {
      font-size: 18px;
      padding: 10px 20px;
    }
  }