.chronicles {
    display: flex;
    flex-direction: column;
    background-image: url(https://i.pinimg.com/originals/ba/f1/94/baf19402f62ce9942fa1b08f22d800c5.jpg);
}

.chroniclelist {
  background-color: #006241;
  border: 2px solid black;
  font-family: 'Architects Daughter',cursive;
  color:#FBFCD4;
  font-size: 18px;
  padding: 10px;
  margin: 10px;

}

.chronicle {
    background-color: #006241;
    border: 2px solid black;
    padding: 0.7rem;
    color:#006241;
    font-family: 'Architects Daughter',cursive;
    font-size: 18px;
}

.form-group, .form-control {
    padding: 0.7rem;
    margin: 0.5rem 0;
    color: #cb9b51;
    font-family: "Patua One", serif;
    font-size: 14px;
    line-height: 1.5;
}

.chronicle_moon {
    padding: 10px;
    color: #FBFCD4;
    font-style: italic;
}

.btn-btn-deleteChronicle {
  background-image: radial-gradient(#FBFCD4, #cb9b51 60%);
  align-items: center;
  background-color: #cb9b51;
  border-radius: 42px;
  border-width: 0;
  box-shadow:rgba(255, 255, 255, 0.2)(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: black;
  cursor: pointer;
  display: flex;
  font-family: 'Architects Daughter',cursive;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .04em;
  line-height: 10px;
  margin: 10px;
  padding: 10px 50px 10px 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  justify-content: center;
  }
  
  .submit-btn-primary {
    background-image: radial-gradient(#FBFCD4, #cb9b51 60%);
    align-items: center;
    background-color: #cb9b51;
    border-radius: 42px;
    border-width: 0;
    box-shadow:rgba(255, 255, 255, 0.2)(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: black;
    cursor: pointer;
    display: flex;
    font-family: 'Architects Daughter',cursive;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .04em;
    line-height: 10px;
    margin: 10px;
    padding: 10px 50px 10px 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    justify-content: center;
  }

  .button--close {
    background-image: radial-gradient(#FBFCD4, #cb9b51 60%);
    align-items: center;
    background-color: #cb9b51;
    border-radius: 42px;
    border-width: 0;
    box-shadow:rgba(255, 255, 255, 0.2)(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: black;
    cursor: pointer;
    display: flex;
    font-family: 'Architects Daughter',cursive;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .04em;
    line-height: 10px;
    margin: 10px;
    padding: 10px 50px 10px 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    justify-content: center;
  }

  .edit-button {
    background-image: radial-gradient(#FBFCD4, #cb9b51 60%);
    align-items: center;
    background-color: #cb9b51;
    border-radius: 42px;
    border-width: 0;
    box-shadow:rgba(255, 255, 255, 0.2)(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: black;
    cursor: pointer;
    display: flex;
    font-family: 'Architects Daughter',cursive;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .04em;
    line-height: 10px;
    margin: 10px;
    padding: 10px 50px 10px 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    justify-content: center;
  }

  .create-button {
    background-image: radial-gradient(#FBFCD4, #cb9b51 60%);
    align-items: center;
    background-color: #cb9b51;
    border-radius: 42px;
    border-width: 0;
    box-shadow:rgba(255, 255, 255, 0.2)(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: black;
    cursor: pointer;
    display: flex;
    font-family: 'Architects Daughter',cursive;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .04em;
    line-height: 10px;
    margin: 10px;
    padding: 10px 50px 10px 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    justify-content: center;
  }

  @media (min-width: 768px) {
    .btn-btn-deleteChronicle {
      font-size: 18px;
      padding: 10px 20px;
    }
  }

  .chronicle_image {
    border-radius: 8px;
    max-width: 100%;
  height: auto;
  color: #FBFCD4;
  }

.search {
    background-color: #FBFCD4;
    padding:13px;
    width:335px;
    margin:10px auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:6px;
    border: #006241;
    background-image: url(https://img.freepik.com/free-vector/golden-waves-background_1284-43064.jpg?w=2000);
    box-shadow: 
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}

.chronicleform {
  background-image: url(https://i.pinimg.com/originals/6b/6d/b4/6b6db4d7e1841614c25126ac826f66c5.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.chronicleForm {
  background-image: url(https://static.vecteezy.com/system/resources/previews/006/507/437/non_2x/gold-mystical-moon-tree-of-life-wicca-sign-sacred-geometry-golden-luxury-logo-crescent-moon-half-moon-pagan-wiccan-triple-goddess-symbol-energy-circle-isolated-on-black-background-vector.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 100px;
  
}

.searchterms {
  width:250px;
  height:30px;
  padding-left:15px;
  border-radius:6px;
  border:#006241;
  color:black;
  font-weight:500;
  background-color:#FBFCD4;
  
}

.label {
  display: inline-block;
  color: #FBFCD4;
}