.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
    color:chartreuse;
    display: flex;
    flex-direction: column;
    border: 2px solid purple;
    padding: 0.7rem;
    margin: 0.5rem 0;
    background-color:olive;
    font-weight:bolder;
}